@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    height: 100%;
}

.app {
    --app-header-border-color: #e3e3e3;
    --app-header-logo-color: #000000;
    --app-header-search-input: #f4f4f4;

    height: 100%;
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */
.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    border-bottom: 1px solid var(--app-header-border-color);
}

.app-header-logo {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 24px;
    color: var(--app-header-logo-color);
}

.app-header-logo:hover {
    cursor: pointer;
}

.app-header-logo:active {
    text-indent: unset;
}

.app-header-logo-online {
    font-weight: bold;
}

.app-header-logo-marketplace {
    font-weight: normal;
}

.app-header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    margin-right: 30px;
    background-color: var(--app-header-search-input);
    border: 1px solid var(--app-header-search-input);
    box-shadow: 0 2px 4px 0 rgba(33,22,20,.2);
}

.app-header-search:focus {
    outline: none;
}

.app-header-search:focus-within {
    background-color: white;
    box-shadow: 10px 0 0 white;
    border: 1px solid #0097ba;
}

.app-header-search-input {
    all: unset;
    width: 100%;
    padding-right: 10px;
}

.app-header-search-button {
    color: #0097ba;
}

.app-header-search-button:hover {
    cursor: pointer;
}

.app-header-login-button {
    all: unset;
    margin-right: 30px;
    font-weight: bold;
    color: #656565;
}

.app-header-login-button:hover {
    cursor: pointer;
    color: #0097ba;
}

.app-header-join-button {
    all: unset;
    background-color: #0097ba;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.app-header-join-button:hover {
    cursor: pointer;
    background-color: #656565;
}

/* content */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 auto;
}

.content {
    max-width: 1280px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.content-header {
    font-size: 30px;
}

/* signin-modal */
.signin-modal-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: none; 
}

.signin-modal-backdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}

.signin-modal {
    position: relative;
    display: flex;
    width: 700px;
    background-color: white;
    /* box-shadow: 0 0 10px var(--modal-box-shadow-color); */
}

.signin-modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.modal-close-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    all: unset;
    font-weight: bold;
    font-size: 30px;
}

.modal-close-button:hover {
    cursor: pointer;
}

.modal-content-logo {
    font-size: 20px;
}

.signin-modal-content-header {
    font-size: 16px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.modal-input-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.modal-input-container label {
    margin-bottom: 3px;
    font-size: 14px;
    color: #707070;
}

.modal-input-container input {
    all: unset;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
    box-sizing: border-box;
}

.modal-input-container input:hover,
.modal-input-container input:focus {
    box-shadow: 0 0 5px var(--app-secondary-color);
}

.modal-button {
    all: unset;
    width: 300px;
    height: 40px;
    margin-top: 14px;
    background-color: var(--app-primary-color);
    text-align: center;
    color: var(--app-text-light-color);
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
}

.modal-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
}

.modal-button:active {
    box-shadow: 0 0 1px black;
}

/* signup-modal */
.signup-modal-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: none; 
}

.signup-modal-backdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}

.signup-modal {
    position: relative;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    width: 700px;
    background-color: white;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 10px var(--modal-box-shadow-color); */
}

.signup-modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.signup-modal-content-header {
    font-size: 16px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

/* footer */
.footer {
    flex-shrink: 0;
    padding: 20px;
    background-color: #fbf6f4;
    color: #656565;
    font-size: 12px;
}