<div class="app-header-account-dropdown">
    <button class="app-header-account-button">ACCOUNT</button>
    <div class="app-header-account-dropdown-content-wrapper">
        <div class="app-header-account-dropdown-content">
            <div class="app-header-account-dropdown-content-links">
                <a href="/marketplace/user/bids">MY BIDS</a>
                <a href="/marketplace/user/items">MY ITEMS</a>
            </div>
            <div class="app-header-account-dropdown-content-signout">
                <a class="app-header-signout-button">SIGN OUT</a>
            </div>
        </div>
    </div>
</div>