<header class="app-header">
    <a href="/marketplace" class="app-header-logo">
        <span class="app-header-logo-online">online</span><span class="app-header-logo-marketplace">marketplace</span>
    </a>
    <div class="app-header-search">
        <input type="search" maxlength="500" placeholder="Search items" class="app-header-search-input" />
        <a role="button" class="app-header-search-button">Search</a>
    </div>
    <div class="app-header-buttons-container"></div>
</header>

<script src="/resources/js/header.js"></script>