<div class="signup-modal-backdrop"></div>

<div class="signup-modal">
    <img src="https://i.pinimg.com/564x/c9/64/dd/c964ddbc43616765ece1f553285c8d94.jpg" width="262" height="507">
    <div class="signup-modal-content">
        <div class="modal-close-button-wrapper">
            <button class="modal-close-button">
                <span>&times;</span>
            </button>
        </div>

        <div class="modal-content-logo">
            <span class="app-header-logo-online">online</span><span
                class="app-header-logo-marketplace">marketplace</span>
        </div>

        <h5 class="signup-modal-content-header">Sign up and begin your treasure hunt.</h5>

        <form class="signup-form">
            <div class="signup-modal-input-container">
                <label for="signup-login">Email</label>
                <input id="signup-login" onkeypress="resetValidity()" type="text">
            </div>

            <div class="signup-modal-input-container">
                <label for="signup-password">Password</label>
                <input id="signup-password" onkeypress="resetValidity()" type="password">
            </div>

            <div class="signup-modal-input-container">
                <label for="signup-confirm-password">Confirm Password</label>
                <input id="signup-confirm-password" onkeypress="resetValidity()" type="password">
            </div>

            <button type="submit" class="signup-modal-button">Start Now</button>
        </form>
    </div>
</div>

<script src="/resources/js/signup-modal.js"></script>