.footer-wrapper {
    display: flex;
    flex-shrink: 0;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    background-color: #fbf6f4;
    color: #656565;
    font-size: 12px;
}

.footer {
    width: 1109px;
    align-self: flex-start;
}