.app-header-account-dropdown {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.app-header-account-dropdown-content-wrapper {
    width: 100px;
    display: none;
    position: absolute;
    top: 16px;
    right: -14px;
    padding: 10px;
}

.app-header-account-dropdown-content {
    width: 100%;
    position: absolute;
    top: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    z-index: 1;
    box-sizing: border-box;
}

.app-header-account-dropdown-content::before {
    content: "";
    top: -11px;
    right: calc(100% / 2 - 10px);
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #e3e3e3;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    background-color: white;
}

.app-header-account-dropdown-content-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
}

.app-header-account-dropdown-content-links a {
    all: unset;
    color: #656565;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    z-index: 1;
}

.app-header-account-dropdown-content-links a:hover {
    cursor: pointer;
    color: #0097ba;
}

.app-header-account-dropdown-content-signout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}


.app-header-account-dropdown:hover .app-header-account-dropdown-content-wrapper {
    display: block;
    position: absolute;
}

.app-header-signout-button {
    all: unset;
    color: #0097ba;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.app-header-signout-button:hover {
    cursor: pointer;
    color: #656565;
}