.bids-container {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
}

.no-bids-message {
    font-size: 24px;
}